
Title: Where It Pays To Go To College

Authors: Deja Bond, Demetrius King, Julian Hutson, Andrea Richmond

Stakeholders: Deja Bond (Program Manager), Demetrius King(Hacker), Andrea Richmond (UI developer),Julian Hutson (Test Manager), ALL(Java Programmer)

Project Purpose and Scope:
The purpose of this project is to provide high school seniors with with a mobile application in which they can learn about which degree or institution will be the financially most rewarding.

Market assessment and target demographics: High School Seniors and/or Juniors

Requirements:
Functional requirements:

Primary-
1. Users can view a list of every public and private instution in th U.S
2. Users can view a list of each major and program that institution has to offer
3. Users can view the type of school, as sorted by social life and/or emphasis of study
4. Users can view the location best suited for monetary income
5. Users can view the salaries of each major, as grouped by experience

Secondary-
1. Users can create a profile 
2. Users can recieve notifications
3. Users can be directed to the links of perspecitive schools
4. Users can request to be on an institution's mailing list

Technical requirements:

Primary-
1. Cross-browser/platform support (Safari, Fireofx, Chrome) (Mac OSX /PC)
2. Mobile support for smartphones (iPhone, Android)
3.

Secondary-
1. Statistics and Reporting




Usability requirements
1. The app will be fully functioning for all browsers


Product overview and Use cases:

Environmental requirements:
Any environment that is capable of sustaining human life
Electricty able to power a cellular device with internet capabilities
Electricty needed to function a 100+W computer

Support requirements:
A help button will be avaible to guide users to comonly asked questions about the website's use
Users will be able to report any bug found directly to technical support center

Interaction requirements (e.g. how the product should work with other systems):
Profile information to remain consistent no matter platform
Landscape and portrain capability (on mobile device)

Assumptions:
Information about social atmosphere is from a repituble source
Income level subject to change due to inflation

Constraints:
Information from previous schooling years

Dependencies:
Acuracy of the set of data found

TimeLines an Milestones:

