
Title: Where It Pays To Go To College

Authors: Deja Bond, Demetrius King, Julian Hutson, Andrea Richmond

Stakeholders: Deja Bond (Program Manager), Demetrius King(Hacker), Andrea Richmond (UI developer),Julian Hutson (Test Manager), ALL(Java Programmer)

Project Purpose and Scope:
The purpose of this project is to provide high school seniors with with a mobile application in which they can learn about which degree or institution will be the financially most rewarding.

Market assessment and target demographics: High School Seniors and/or Juniors

Requirements:
Functional requirements:

Primary-
1. Users can view a list of every public and private instution in th U.S
2. Users can view a list of each major and program that institution has to offer
3. Users can view the type of school, as sorted by social life and/or emphasis of study
4. Users can view the location best suited for monetary income
5. Users can view the salaries of each major, as grouped by experience

Secondary-
1. Users can create a profile 
2. Users can recieve notifications
3. Users can request to be on an institution's mailing list

Technical requirements:

Primary-
1. Cross-browser/platform support (Safari, Fireofx, Chrome) (Mac OSX /PC)
2. Mobile support for smartphones (iPhone, Android)


Secondary-
1. Statistics and Reporting




Usability requirements
1. The app will be fully functioning for all browsers


Product overview and Use cases:

Environmental requirements:

Support requirements:

Interaction requirements (e.g. how the product should work with other systems):

Assumptions:

Constraints:

Dependencies:

TimeLines an Milestones:

