<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAJOR QUIZ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div class="w3-container w3-center w3-animate-top">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
    </a>

    <h2>See Your Degree Match</h2>
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">

    </div>
    </header>




    <div class="w3-panel w3-leftbar w3-light-grey">
        <p class="w3-xlarge w3-serif"><i>See Which Major is the Best Match for You!</i></p>
        <br><br>
    </div>
</div>

<div class="w3-bar" id="myNavbar">

</div>

<style>
    body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
</style>

<form action="/action_page.php" method="get">
    What is your favorite subject(Select all that apply)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Math<input type="checkbox" name="area" value="Math"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;English<input type="checkbox" name="area" value="English"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Science<input type="checkbox" name="area" value="Science"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Art<input type="checkbox" name="area" value="Art"><br><br>

    What extracirricular activity would you like to be apart of?<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Robotics<input type="checkbox" name="lifestyle" value="Robotics"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Spanish/Japanese/French club<input type="checkbox" name="Language" value="State"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Band<input type="checkbox" name="lifestyle" value="Band"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Poetry<input type="checkbox" name="lifestyle" value="Poetry"><br>

    You are going to college for? <br>
    &nbsp;&nbsp;&nbsp;&nbsp;Fun<input type="checkbox" name="area" value="Fun"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Learning<input type="checkbox" name="area" value="Learning"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Earning Potential<input type="checkbox" name="area" value="Earnings"><br>


    You're more:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Hands on<input type="checkbox" name="area" value="handson"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Brain-based<input type="checkbox" name="area" value="brainbased"><br>


    It's easiest for you:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Write long papers<input type="checkbox" name="area" value="papers"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Complete a lab project<input type="checkbox" name="area" value="lab"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Do heavy research <input type="checkbox" name="area" value="research"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Make some artwork<input type="checkbox" name="area" value="artwork"><br><br>





    <input type="submit" value="Submit">
    <!-- Return suggested college after submitting -->
</form>

</body>

</html>