<!DOCTYPE html>
<html lang="en">

<style>
    body {
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>WRITE REVIEWS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div class="w3-container w3-center w3-animate-top">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
    </a>

    <h2>We Love All Types of Reviews</h2>





    <div class="w3-panel w3-leftbar w3-light-grey">
        <p class="w3-xlarge w3-serif"><i>"Paying For School To Get a Job, Just To Get a Job to Pay For School."</i></p>
        <p>Every College Student Ever</p>
        <p>Don't Be Like These College Students</p>
        <br><br>
        Leave a review!<br>
        <textarea rows="5" cols="50"></textarea>
        <p><i class="fa fa-spinner w3-spin" style="font-size:64px"></i></p>
    </div>
</div>
localStorage.lastname = "Smith";
// Retrieve
document.getElementById("result").innerHTML = localStorage.lastname;
<div class="w3-bar" id="myNavbar">

</div>

<div class="w3-container">

    <input type="button" class="w3-button w3-black" value="Ready To Leave A Comment">

</div>

</body>

</html>