<!DOCTYPE html>
<html>
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
    body {
    background-color: white;
}
div2{
        background-color: peachpuff;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

    </div>
</div>

<!-- Header --><header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="https://si.wsj.net/public/resources/images/MK-CC463A_SALAR_P_20130416172323.jpg" alt="Hamburger Catering" width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">

    </div>
</header>


<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="https://www.collegeboard.org/sites/default/files/about-collegeboard-video_0.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">About Flinder</h1><br>
            <h5 class="w3-center">Tradition since 2017</h5>
            <p class="w3-large">Our Primary Goal is to Provide Students with Adequate Information on How to Conquer College! The Rising Costs of Higher Education Coupled with the Stress. Let Flinder Ease Your Mind</p>

        </div>
    </div>

    <hr>

    <!-- Menu Section -->
    <div2 class="w3-row w3-padding-64" id="menu">
        <div2 class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">FLINDER Family</h1><br>
            <h4>Julian Hutson</h4>
            <p class="w3-text-grey">Senior: Computer Science Morehouse 2018</p><br>

            <h4>Demetrius King</h4>
            <p class="w3-text-grey">Senior: Computer Science Morehouse 2018</p><br>

            <h4>Deja Bond</h4>
            <p class="w3-text-grey">Senior: Computer Science Spelman 2018</p><br>

            <h4>Andrea Richmond</h4>
            <p class="w3-text-grey">Senior: Computer Science Spelman 2018</p><br>

        </div2>

        <div class="w3-col l6 w3-padding-large">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAu5AAAAJGVmOWVmZTZkLTc5YTUtNDg4NC1hNjVhLTI3ZjMxMDY2NTM1OA.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" width="200" height="350">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAA0gAAAAJDA0MWViNzU2LTE4YzItNGFjMC1hZTcyLTMyYmNlMWNjN2U2NQ.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" width="200" height="350">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAArmAAAAJDkyNzAxMGEzLTM5ZDQtNDQxOC1hNGQ5LTlkZmVkODhjZTQ0NA.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" width="200" height="350">
            <img src="https://i.imgur.com/yEUUgdh.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" width="200" height="350">
        </div>

    </div2>



    <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="Group 1" target="_blank" class="w3-hover-text-green">Group 1</a></p>
</footer>

</body>
</html></html>